importFrom(Rcpp, sourceCpp)
importFrom(R6, R6Class)
importFrom(ggplot2, aes, aes_string, coord_cartesian, coord_flip, element_blank, element_rect, element_text, expansion, geom_line, geom_point, ggplot, labs, margin, scale_color_manual, scale_fill_manual, scale_y_reverse, theme, theme_bw, theme_void, unit, arrow)
importFrom(grDevices, hcl.colors)
importFrom(graphics, grid)
importFrom(stats, na.omit, quantile, setNames)
importFrom(checkmate, assert_numeric, assert_character, assert_data_frame, assert_list)
exportPattern("^[[:alpha:]]+")
